

.nav-container {
  position: fixed;
    background-color: #4f4d4d; 
    width: 100%;
    padding: 20px;
  }
  
  .nav-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-container li {
    margin: 0 30px; 
    cursor: pointer;
    color: white;
  }
  
  .nav-container li:hover {
    text-decoration: underline;

  }
  span{
    color: white;
    margin: 0 30px;
  }
  